.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.cardMedia{
    height: 100%;
    flex-basis: 30%;
    align-items: center;
    justify-content: center;
    display: flex
}

.cardFooter{
    display: flex;
    flex-direction: column;
    flex-basis: 70%
}

.cardContent{
    flex: 1 0 auto;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}

.imageContainer {

  width: 100%;
}
  .imageContainer > span {
    position: unset !important;
  }

  .img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    max-height: 345px !important;
  }


  .cardParent{
   display: flex;
   height: 70vh;
   margin: 5%;
   overflow: auto !important;
      padding:2% ;
  }

  .btn{
    opacity: 0.8;
    width: 30%;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
  }

  @media screen and (max-width: 768px) {
    .cardParent{
     flex-direction: column;
     margin: 0;
     }
     .btn{
      width: 70%;
    }
  }
